<section id="shop" class="shop shop-3 bg-white">
  <div class="container">
    <h1 class="trindade" style="margin-bottom: 100px; margin-top: 25px;">Lista de ativos</h1>
    <div class="row">
      <!-- Product #1 -->
      <div class="card" style="width: 18rem; margin-left: 15px; margin-bottom: 15px;">
        <img class="card-img-top" src="../../assets/images/ativos/BB.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Banco do Brasil</h5>
          <p class="card-text">Testes realizados na escala de 5 minutos, 15 minutos, 30 minutos e 1 dia</p>
          <form (ngSubmit)="mudaAtivoBBAS3()">
            <button class="btn btn-primary" >Investir</button>
          </form>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-left: 15px; margin-bottom: 15px;">
        <img class="card-img-top" src="../../assets/images/ativos/pt.jpg" width="262" height="145" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Petrobras</h5>
          <p class="card-text">Testes realizados na escala de 5 minutos, 15 minutos, 30 minutos e 1 dia</p>
          <form (ngSubmit)="mudaAtivoPETR4()">
            <button class="btn btn-primary" >Investir</button>
          </form>

        </div>
      </div>
    </div>
  </div><!-- .container end -->

</section><!-- #shop end -->
